<header>
    <h1>{{empresa}}</h1>
    <nav>

        <a href="/">Inicio</a>
        <a href="/usuarios">Ver Usuarios</a>
        <a href="/login">Login</a>
        <a href="/registro">Registrarse</a>
    </nav>

</header>